html {
    height: 100%;
    width: 100%;
    background-color: beige;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.center {
    width: 100%;
    margin: 20px;
    
}

button {
    color: white;
    min-width: 80px;
    height: 100px;
    padding: 30px;
    margin: 10px;
    background: linear-gradient(180deg, rgba(0, 195, 255, 0.726), rgba(255, 0, 0, 0.596));
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: linear-gradient(180deg, rgb(114, 114, 114), rgb(12, 12, 12));
    color: rgb(0, 255, 0);
    box-shadow: 0 0 40px 2px black;
}